NODE_ENV=development
FRONTEND_PORT=3000
BACKEND_PORT=4000
JWT_SECRET=jwt_secret_key_here
JWT_EXPIRES_IN=30d
DB_HOST=bp-pg-db
DB_NAME=bp-pg-db
DB_USER=postgres
DB_PASSWORD=root
DB_PORT=5432
PGADMIN_DEFAULT_EMAIL=admin@backend.com
PGADMIN_DEFAULT_PASSWORD=pass@123
PGADMIN_PORT=5055
#the connect_timeout is only necessary if you are using an M1 ship
DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?schema=public&connect_timeout=60"
