@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  @apply bg-black w-screen;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button {
  @apply text-white py-3 px-10  rounded-3xl text-center font-normal;
}

.primary {
  @apply bg-purple-700 animate-pulse;
}

.secondary {
  @apply bg-opacity-100 border-2 border-gray-500;
}

.secondary:hover {
  @apply bg-white border-white text-black;
}

.nav {
  @apply flex flex-col sm:flex-row justify-between gap-4 sm:items-center text-center bg-black text-white sm:px-10 py-3 relative  z-50;
}

.nav ul {
  @apply hidden sm:flex sm:flex-row sm:justify-items-center text-center gap-5;
}


.nav ul li{
  @apply border-b-2 border-black text-base;
}


.nav ul li:hover {
  @apply border-b-2 border-purple-500;
}

.logo {
  @apply flex text-xl font-bold gap-2  items-center justify-between;
}

.menu {
  @apply border-2 border-white p-1 rounded-md sm:invisible w-10 h-10 mr-5 flex-none ;
}

.cover {
  @apply flex flex-col items-center h-screen bg-black text-white text-center;
}

.nab {
  @apply m-8 sm:m-0 hidden sm:block flex-none;
}

.imgcover {
  @apply absolute left-0 w-full h-full object-cover;
}

.hide {
  @apply hidden;
}
.mobileMenu {
  @apply flex flex-col sm:hidden  text-white text-center bg-purple-500 bg-opacity-10 border-2 border-gray-200  divide-y divide-dashed divide-gray-200 rounded-md;
}

.mobileMenu > li {
  @apply py-3;
}

.mobileMenu > li:hover {
  @apply bg-purple-500;
}

/* Profile page */


.avatar {
  @apply w-full h-96 object-cover z-0 md:justify-center md:w-36 md:h-auto md:m-auto md:rounded-full md:p-2 md:border-2 md:border-white md:my-4  md:relative md:z-20;
}

.profileStats {
  @apply w-full h-16 bg-purple-600 text-white flex flex-row items-center text-center text-lg font-bold  gap-5 p-8 justify-between z-10; 
}

.playerInfo {
  @apply text-white relative -top-32 left-5 w-fit;
}

.badgeImg {
  @apply inline flex-none w-40 h-40;
}

.badge {
  @apply shrink-0 flex-none;
}

.achievements {
  @apply flex flex-row w-screen flex-nowrap overflow-x-auto p-5 gap-5 md:w-3/4 md:m-auto;
}

.matchHistory {
  @apply flex flex-col w-screen bg-purple-500 divide-y-2 divide-gray-200 p-5 gap-2 md:w-3/4 md:m-auto;
}

.match {
  @apply flex flex-row justify-between h-32 p-2 gap-5;
}

.matchAvatar {
  @apply flex-none w-24 object-cover rounded-full;
}

.matchInfo {
  @apply text-center;
}